.albumOne img {
  height: 200px;
  width: 200px;
  margin: 5px;
  border: 0.5px solid #ccc;
  -webkit-box-shadow: 0 10px 6px -6px #53565a;
  -moz-box-shadow: 0 10px 6px -6px #53565a;
  box-shadow: 0 10px 6px -6px #53565a;
}

.albumOne {
  display: flex;
  flex-wrap: wrap;
}

.albumTwo img {
  height: 200px;
  width: 200px;
  margin: 5px;
  border: 0.5px solid #ccc;
  -webkit-box-shadow: 0 10px 6px -6px #53565a;
  -moz-box-shadow: 0 10px 6px -6px #53565a;
  box-shadow: 0 10px 6px -6px #53565a;
  }

.albumTwo {
  display: flex;
  flex-wrap: wrap;
}

.albumThree img {
  height: 200px;
  width: 200px;
  margin: 5px;
  border: 0.5px solid #ccc;
  -webkit-box-shadow: 0 10px 6px -6px #53565a;
  -moz-box-shadow: 0 10px 6px -6px #53565a;
  box-shadow: 0 10px 6px -6px #53565a;
}

.albumThree {
  display: flex;
  flex-wrap: wrap;
}

.albumFour img {
  height: 200px;
  width: 200px;
  margin: 5px;
  border: 0.5px solid #ccc;
  -webkit-box-shadow: 0 10px 6px -6px #53565a;
  -moz-box-shadow: 0 10px 6px -6px #53565a;
  box-shadow: 0 10px 6px -6px #53565a;
}

.albumFour {
  display: flex;
  flex-wrap: wrap;

}

.albumFive img {
  height: 200px;
  width: 200px;
  margin: 5px;
  border: 0.5px solid #ccc;
  -webkit-box-shadow: 0 10px 6px -6px #53565a;
  -moz-box-shadow: 0 10px 6px -6px #53565a;
  box-shadow: 0 10px 6px -6px #53565a;
}

.albumFive {
  display: flex;
  flex-wrap: wrap;
}

.albumSix img {
  height: 200px;
  width: 200px;
  margin: 5px;
  border: 0.5px solid #ccc;
  -webkit-box-shadow: 0 10px 6px -6px #53565a;
  -moz-box-shadow: 0 10px 6px -6px #53565a;
  box-shadow: 0 10px 6px -6px #53565a;
}

.albumSix {
  display: flex;
  flex-wrap: wrap;
}

.instructions {
  border: none;
  background-color: white;
  color: #53565a;
  padding: 7px;
  flex-wrap: wrap;
  margin: auto;
  font-weight: 300;
  font-family: 'Open Sans', serif;
}

.return {
  border: none;
  background-color: white;
  color: #53565a;
  padding: 5px;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  border: 0.5px #ccc dashed;
  font-size: 16px;
  width: 25%;
}

.image img {
  height: 440px;
  border: 0.5px solid #ccc;
  -webkit-box-shadow: 0 10px 6px -6px #53565a;
  -moz-box-shadow: 0 10px 6px -6px #53565a;
  box-shadow: 0 10px 6px -6px #53565a;
}
